{% extends "index.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/Public/img/bg/post.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.chapo }}</h2>
                    <span class="meta">Posté par
              <a href="#">{{ post.author }}</a>
              le {{ post.datecreation|date("d/m/Y") }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>{{ post.contentText|striptags }}</p>
            </div>
        </div>
    </div>
</article>

    <hr>
    {{ include('comments.html.twig') }}
{% endblock %}